* {
  text-align: center;
  font-family:monospace;
}

table {
  margin-right: auto;
  margin-left: auto;
}

td {
  border: solid black 2px;
  height: 100px;
  width: 100px;
  font-size: 40px;
  font-weight: 700;
}